#new {
    width: 100%;
    border: 2px solid brown;
}

#FootText {
    width: 90%;
    /* height: 500px; */
    border: 2px solid red;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.fc {
    width: 30%;
    /* border: 2px solid greenyellow; */
    /* line-height: 30%; */
    text-align: left;

}

.fc>p {
    font-weight: lighter;
    font-size: 16px;
    color: grey;
}

.h1 {
    font-weight: 400;
    font-size: 24px;
}

.icon {
    width: 36px;
}

.iconn {
    width: 28px;
}

.icon3 {
    width: 37px;
}

.icon4 {
    width: 33px;
}

.icon5 {
    width: 33px;
}

#fclogo {
    width: 95%;
    border: 1px solid palevioletred;
    display: flex;
    justify-content: space-between;

}

#init {
    width: 200px;
}

#initial {
    margin-left: -1000px;
}

#fc1 {
    width: 50%;
    margin-left: 20px;
}

#fc2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;

}

#fc1>p {
    padding-right: 50px;
}